<link rel="stylesheet" href="/landing-page.css" />
<link rel="stylesheet" href="/landing-page-mobile.css" />
<section id="landing-page">
  <div id="content">
    <h1>Perform your Civil Rights Now</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur. Adipiscing lacus eget odio ut
      faucibus at ornare. Pulvinar arcu et dui turpis quis. Dignissim ornare sed
      eget tincidunt cras tellus etiam.Lorem ipsum dolor sit amet consectetur.
      Adipiscing lacus eget odio ut faucibus at ornare. Pulvinar arcu et dui
      turpis quis. Dignissim ornare sed eget tincidunt cras tellus etiam.
    </p>
    <button><a href="/dashboard">Vote Now</a></button>
  </div>
</section>
<!-- <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul> -->
