<link rel="stylesheet" href="/landing-page.css" />
<link rel="stylesheet" href="/landing-page-mobile.css" />
<!-- footer -->
<footer>
  <div id="footer-top">
    <p>eVote</p>
    <div id="about-us">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Isem.</p>
    </div>
    <div id="pages">
      <h3>Pages</h3>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Election</a></li>
        <li><a href="">Get Help</a></li>
        <li><a href="">Chat with Gov</a></li>
        <li><a href="">FAQs</a></li>
      </ul>
    </div>
  </div>

  <div id="footer-bottom">
    <p>&copy; Copyright 2022</p>
    <div id="social-icons">
      <img src="<%= '/images/linkin-icon.png' %>" alt="" />
      <img src="<%= '/images/fb-icon.png' %>" alt="" />
      <img src="<%= '/images/twitter-icon.png' %>" alt="" />
      <img src="<%= '/images/Instagram logo.png' %>" alt="" />
    </div>
  </div>
</footer>
