<link rel="stylesheet" href="/Login.css" />

<form action="/changepassword" method="post" class="signupform">
  <div class="signupeVote">
    <div id="logo">
      <a href="/" style="color: black"
        ><img
          src="<%= '/images/eVote.png' %>"
          alt="logo"
          class="logo-img"
        /><span></span>
      </a>
    </div>
    <p>Change Your Password</p>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" />
    <label for="password">Old Password</label>
    <input
      type="password"
      name="oldpassword"
      placeholder="Enter Old password"
    />
    <label for="password">New Password</label>
    <input
      type="password"
      name="newpassword"
      placeholder="Enter New password"
    />
    <button type="submit">Change Password</button>
  </div>
  <div class="signupWe">
    <div class="signupWeh2">
      <h2>we are the <span>GOVERNMENT</span></h2>
    </div>
    <div class="signupimage">
      <img src="images/hand.png" alt="" width="300px" height="420px" />
    </div>
  </div>
</form>
