<link rel="stylesheet" href="/dashboard.css" />
<link rel="stylesheet" href="/dashboard-mobile.css" />

<div id="logo" style="color: black; padding-top: 50px">
  <a href="/"
    ><img
      src="<%= '/images/eVote.png' %>"
      alt="logo"
      class="logo-img"
    /><span></span>
  </a>
</div>
<div id="top">
  <h2>Identity Verification</h2>
</div>
<div id="face-tab">
  <img src="/IMAGES/mohammad.png" alt="" id="img" />
  <h3>Facial Verification</h3>
  <small>Note:</small>
  <p>
    You are advised to remove all facial assoseries and you need a bright
    background to continue.
  </p>
  <button disabled>Comming Soon</button>
</div>
