<link rel="stylesheet" href="/Login.css" />

<form action="/forgot" method="post" class="signupform">
  <div class="signupeVote">
    <h2>eVote</h2>
    <p>Forgot Password</p>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter your email" />
    <button type="submit">Send</button>
  </div>
  <div class="signupWe">
    <div class="signupWeh2">
      <h2>we are the <span>GOVERNMENT</span></h2>
    </div>
    <div class="signupimage">
      <img src="images/hand.png" alt="" width="300px" height="420px" />
    </div>
  </div>
</form>
