

<link rel="stylesheet" href="/Login.css" />

</div>
<form action="/login" method="post" class="signupform">
  <div class="signupeVote">
    <div id="logo">
      <a href="/" style="color: black"
        ><img
          src="<%= '/images/eVote.png' %>"
          alt="logo"
          class="logo-img"
        /><span></span>
      </a>
    </div>
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" />
    <button type="submit">Login</button>
    <p class="down-mobile">
      Don't have an account? <a href="/register">Create an Account</a>
    </p>    
    <p class="down-mobile">
      <a href="/changepassword">Change Password</a>
    </p>
  </div>
  <div class="signupWe">
    <div class="signupWeh2">
      <h2>we are the <span>GOVERNMENT</span></h2>
    </div>
    <div class="signupimage">
      <img src="images/hand.png" alt="" width="300px" height="420px" />
    </div>
  </div>
  
</header>
</header>
</form>

