<link rel="stylesheet" href="/Login.css" />
<link rel="stylesheet" href="main.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap"
  rel="stylesheet"
/>

<script src="main.js" defer></script>

<div id="logo">
  <a href="/" style="color: black"
    ><img
      src="<%= '/images/eVote.png' %>"
      alt="logo"
      class="logo-img"
    /><span></span>
  </a>
</div>
<div class="poll"></div>
