*, body{
  margin: 0%;
  padding: 0%;
}
body{
background-image: url(images/background.png);
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: lighten;

/* opacity: 0.5; */
}
form{
  display: flex;
  justify-content: space-between;
}
div.signupeVote{
  width: 40%;
  padding: 30px 80px;    
  background: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
    
}
div#logo{
  margin-bottom: 30px;
  text-align: center;
}
.signupeVote h2{
  font-family: 'Typold';
  font-style: normal;
  font-weight: 500;
  font-size: 79px;
  /* line-height: 108px; */
  color: #008948;
}
.down-mobile{
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
}
.down-mobile a{
  text-decoration: none;
  color: red;
  font-weight: bold;
  text-align: center;
}
.signupeVote label{
  display: block;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  padding: 10px 0;
}
.signupeVote input{
  background: #DAEEE4;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  color: #555555;
  font-size: 16px;
  border: none;
}
.signupeVote button{
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background: #008948;
  box-shadow: 0px 8px 12px rgba(66, 71, 109, 0.2);
  border-radius: 8px;
  font-size: 18px;
  color: white;
  border: none;
}
div.signupWe {
  display: flex;
  width: 55%;
  flex-direction: row;
  padding: 0;
  justify-content: center;    
  align-items: center;
  margin: 0;
}
.signupWe h2{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #008948;
  background-color: #DAEEE4;
  padding: 20px;    
}
.signupWe span{
  color: red;
}
.signupimage img{    
position: relative;
right: 80px;
bottom: -120px;
}
